/******************************************************
 *  _                    _                            *
 * | |                  | |                           *
 * | |__   ___  __ _  __| | ___ _ __                  *
 * | '_ \ / _ \/ _` |/ _` |/ _ \ '__|                 *
 * | | | |  __/ (_| | (_| |  __/ |                    *
 * |_| |_|\___|\__,_|\__,_|\___|_|                    *
 ******************************************************/

.header {
  width: 100%;
  display: inline-block;
  text-align: right;
  background-color: #425F9C;
}

.header-links {
  list-style: none;
}

.header-links li {
  display: inline-block;
  padding: 0 0.5em;
}

.header-links a {
  text-decoration: none;
  color: white;
  padding: 0.1em 0.5em;
}

.header-links a:hover {
  background-color: #2E467C;
}
